{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/asr.css')}}">

<div class="container">
	<div class="row">
		<p style="color:gray">Main » Request</p>
	</div>

	{% if error %}
	<strong class=text-danger><p class="error">{{ error }}</p></strong>
	{% endif %}
</div>

<div class="blended_grid">
	<div class="containerResponse">
		<table style="width:800px" align="center">
		<form id="infer_form" method="post" enctype="multipart/form-data">
			<input name="op" type="hidden" value="infer" />
			<tr>
				<td>
					<div id="recbutton" class="disabled" onclick="toggleStartStop();"></div>
				</td>
				<td><div class="wrap">
						<textarea id="trans" name="speech_input" form="infer_form"></textarea>
					</div>
				</td>
				<td><div class="wrapr">
						<textarea readonly id="clinc" style="margin-right: 10px">{% if result %}{{ result }}{% endif %}</textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<img src="{{ url_for('static', filename='image/user.png')}}" style="float: left; width: 70px;">
				</td>
				<td>
				 	<img src="{{ url_for('static', filename='image/barman.ico')}}" style="float: right; width: 80px;">
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">
				<br><br>


			<div class="form-group">
				<input id="file_submit" type="submit" value="Request" class="btn btn-info">
			</div>
		</form>


				</td>
		  </tr>
		</table>
	</div>
</div>

<script src="{{ url_for('static', filename='js/speechRecognizer.js')}}"></script>
<script src="{{ url_for('static', filename='js/resultSpeaker.js')}}"></script>
<script type="text/javascript">
var speakable = "{{ result }}";
if (speakable !== "" && speakable !== "None") {
	textToVoice("{{ result }}");
}
</script>
{% endblock %}
