{% extends "base.html" %}

{% block content %}
<!-- https://www.imagely.com/wordpress-gallery-plugin/ -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/thumbnail.css')}}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}" type="text/css" media="all">

<div class="container">
	<div class="row">
		<p style="color:gray">Main » Add</p>
	</div>

	{% if error %}
	<strong class=text-danger><p class="error">{{ error }}</p></strong>
	{% endif %}

	<div class="content">
		<div class="courseList">
			<div class="courseList--coursesForTerm">
				{% for i in recipes %}
				<a class="courseBox">
					<form action="" method="post" enctype="multipart/form-data">
						<input name="op" type="hidden" value="delete_recipe"></input>
						<input name="drinkname" type="hidden" value="{{ i['drinkname'] }}"></input>
						<h3 class="courseBox--shortname">{{ i['drinkname'] }}</h3>
						{% for j in i['ingredients'] %}
						<h4 class="courseBox--name">{{ j[0] }}: {{ j[1] }}ml</h4>
						{% endfor %}
						<input type="submit" style="border:none;" class="courseBox--assignments text-left" value="Delete">
					</form>
				{% endfor %}
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<p><h3>Add New Drink Recipe:</h3></p>
		</div>
	</div>

	<div class="container">
		<form action="" method="post" enctype="multipart/form-data">
			<input name="op" type="hidden" value="add_recipe"></input>

			<div class="form-group row">
				<label class="col-sm-3 control-label">Drink name: </label>
				<div class="col-sm-9">
					<input name="drinkname" class="form-control" placeholder="Awesome mixture">
				</div>
			</div>

			{% for i in ingredients %}
			<div class="form-group row">
				<label class="col-sm-3 control-label">{{ i }}: </label>
				<div class="col-sm-6">
					<input name="{{ i }}" class="form-control" value="0">
				</div>
				<text class="text-muted">ml</text>
			</div>
			{% endfor %}

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<input type="submit" value="Add" class="btn btn-info btn-sm">
				</div>
			</div>
		</form>
	</div>
	
</div>

<br><br>
{% endblock %}
